<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="billingware" type="Billingware.Common.Configurations.BillingwareConfigurationSection,Billingware.Common" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=billingware; Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>

    <add key="Product.Name" value="Billingware" />
    <add key="Service.Name" value="billingware" />
    <add key="Service.DisplayName" value="Billingware" />
    <add key="Service.Description" value="Billingware" />

    <!--<add key="Billingware.Api.Admin.ListenOn" value="http://localhost:8854" />
    <add key="Billingware.Api.Admin.Swagger" value="http://localhost:8854" />-->
    <add key="Billingware.Api.Public.ListenOn" value="http://localhost:8855" />
    <add key="Billingware.Api.Public.Swagger" value="http://localhost:8855" />

    <!--Serilog settings-->
    <add key="serilog:minimum-level" value="Info" />
    <add key="serilog:using:ColoredConsole" value="Serilog.Sinks.ColoredConsole" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:ColoredConsole.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="logs\log-{Date}.txt" />

    <!--sets the maximum number of requests that will be queued in Http.Sys-->
    <add key="Owin.RequestQueueLimit" value="67000" />
    <!--the maximum number of pending requests the OWIN server receives-->
    <add key="Owin.MaxAccepts" value="100" />
    <!--the maximum number of active OWIN requests being processed-->
    <add key="Owin.MaxRequests" value="100" />
    <!--Maximum Number of elements to display during a paging request-->
    <add key="Api.MaxPageSize" value="1000" />
    <!--Number of elements to display during a paging request. This value should be always less than the Api.MaxPageSize-->
    <add key="Api.DefaultPageSize" value="100" />

    <add key="Api.Clients.Keys" value="234567utyhfgdsadsfbryurhd:TestClient" />

  </appSettings>

  <billingware>
    <modules>
      <add name="SimpleCacheModule" type="Billingware.Modules.Caching.SimpleCacheModule,Billingware.Modules.Caching" />
      <add name="CoreModule" type="Billingware.Modules.Core.CoreModule,Billingware.Modules.Core" />
      <add name="PublicApiService" type="Billingware.Modules.PublicApi.PublicApiModule,Billingware.Modules.PublicApi" />
      
    </modules>
  </billingware>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.Console" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Codecs" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.8.0" newVersion="0.4.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Common" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.8.0" newVersion="0.4.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Transport" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.8.0" newVersion="0.4.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Buffers" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.8.0" newVersion="0.4.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>