<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.Ignite" version="2.4.0" targetFramework="net472" />
  <package id="Apache.Ignite.EntityFramework" version="2.4.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
</packages>